body{
    background-color: #ff7ed766;
}

.card:hover{
transform: scale(1.03);
}

.hdiv{
    margin:5px ;
    border: 2px solid green;
    border-radius: 6px;
}

.btn{
    /* background-color: green; */
    color: green;
    border: 2px solid green;
    border-radius: 10px;
}

.btn:hover{
     background-color: green;
    color: white;
    border: 2px solid green;
    transition: 0.5s;
}